openapi: 3.0.1
info:
  title: OpenAI API - Restricted
  version: "1.0-restricted"
  description: |
    Restricted subset of OpenAI API for AI agent access.
    Allows: chat completions, embeddings, audio transcription, models list.
    Blocks: fine-tuning, file uploads, assistants, image generation, moderation.

servers:
  - url: https://api.openai.com

security:
  - bearerAuth: []

paths:
  # ─── Models ─────────────────────────────────────────────────
  /v1/models:
    get:
      summary: List models
      operationId: listModels
      tags: [Models]
      responses:
        "200":
          description: Model list
          content:
            application/json:
              schema:
                type: object

  /v1/models/{model}:
    get:
      summary: Retrieve a model
      operationId: retrieveModel
      tags: [Models]
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Model info
          content:
            application/json:
              schema:
                type: object

  # ─── Chat Completions ──────────────────────────────────────
  /v1/chat/completions:
    post:
      summary: Create chat completion
      operationId: createChatCompletion
      tags: [Chat]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Chat completion response
          content:
            application/json:
              schema:
                type: object

  # ─── Embeddings ─────────────────────────────────────────────
  /v1/embeddings:
    post:
      summary: Create embeddings
      operationId: createEmbedding
      tags: [Embeddings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbeddingRequest"
      responses:
        "200":
          description: Embedding response
          content:
            application/json:
              schema:
                type: object

  # ─── Audio Transcription ────────────────────────────────────
  /v1/audio/transcriptions:
    post:
      summary: Create transcription
      operationId: createTranscription
      tags: [Audio]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, model]
              properties:
                file:
                  type: string
                  format: binary
                model:
                  type: string
                language:
                  type: string
                prompt:
                  type: string
                response_format:
                  type: string
                  enum: [json, text, srt, verbose_json, vtt]
                temperature:
                  type: number
                  minimum: 0
                  maximum: 1
      responses:
        "200":
          description: Transcription result
          content:
            application/json:
              schema:
                type: object

  # ─── Audio Speech (TTS) ─────────────────────────────────────
  /v1/audio/speech:
    post:
      summary: Create speech
      operationId: createSpeech
      tags: [Audio]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input, voice]
              properties:
                model:
                  type: string
                input:
                  type: string
                  maxLength: 4096
                voice:
                  type: string
                  enum: [alloy, echo, fable, onyx, nova, shimmer, ash, ballad, coral, sage, verse]
                response_format:
                  type: string
                  enum: [mp3, opus, aac, flac, wav, pcm]
                speed:
                  type: number
                  minimum: 0.25
                  maximum: 4.0
      responses:
        "200":
          description: Audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary

  # ─── Responses ──────────────────────────────────────────────
  /v1/responses:
    post:
      summary: Create a response
      operationId: createResponse
      tags: [Responses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input]
              properties:
                model:
                  type: string
                input:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: object
                instructions:
                  type: string
                temperature:
                  type: number
                max_output_tokens:
                  type: integer
                stream:
                  type: boolean
      responses:
        "200":
          description: Response object
          content:
            application/json:
              schema:
                type: object

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool, function]
              content:
                oneOf:
                  - type: string
                  - type: array
                    items:
                      type: object
                nullable: true
              name:
                type: string
              tool_calls:
                type: array
                items:
                  type: object
              tool_call_id:
                type: string
        temperature:
          type: number
          minimum: 0
          maximum: 2
        top_p:
          type: number
        n:
          type: integer
          minimum: 1
          maximum: 5
        stream:
          type: boolean
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
              maxItems: 4
        max_tokens:
          type: integer
        max_completion_tokens:
          type: integer
        presence_penalty:
          type: number
        frequency_penalty:
          type: number
        tools:
          type: array
          items:
            type: object
        tool_choice:
          oneOf:
            - type: string
            - type: object
        response_format:
          type: object

    EmbeddingRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items:
                oneOf:
                  - type: string
                  - type: integer
        encoding_format:
          type: string
          enum: [float, base64]

# ──────────────────────────────────────────────────────────────
# BLOCKED ENDPOINTS (not in spec = auto-denied by Wallarm):
#
# - POST   /v1/fine_tuning/*        (fine-tuning jobs)
# - *      /v1/files/*              (file uploads)
# - *      /v1/assistants/*         (assistants API)
# - *      /v1/threads/*            (threads API)
# - POST   /v1/images/*             (image generation/edit)
# - POST   /v1/moderations          (content moderation)
# - *      /v1/batches/*            (batch API)
# - *      /v1/vector_stores/*      (vector stores)
# - DELETE /v1/models/*             (model deletion)
# ──────────────────────────────────────────────────────────────
